html, body {
  width: 100%;
  background-color: #E5E5E5;
}

h1, h2 {
  color: #EEE;
  font-family: Fira sans, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 10px;
  font-weight: 200;
}

p, p1 {
  color: #EEE;
  font-family: Fira sans, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.class {
  color: #EEE;
  font-family: Fira sans, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  text-align: center;
  min-width: 300px;
}

.navbar ul {
  list-style-type: none;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
  min-width: 300px;
  width: 35%;
  overflow: hidden;
  background-color: #FCA311;
  box-shadow: 0 5px 10px black;
  z-index: 1000;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.navbar li {
  float: left;
  text-align: center;
}

.navbar li a {
  display: block;
  font-family: Fira sans, sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #232629;
}

.navbar li a:hover {
  background-color: #2E2E3A;
  color: #FCFCFC;
}

.face {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  display: block;
  box-shadow: 0 4px 10px black;
}

.album-cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 450px;
  height: 350px; 
}

.content {
  padding-top: 20px;
  margin-bottom: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #2E2E3A;
  min-width: 300px;
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  float: center;
  z-index: 0;
  box-shadow: 0 -5px 0 #FCA311, 0 2px 10px black; 
}

.content a {
  color: #FCA311;
}

footer {
  color: #000;
  font-family: Fira sans, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
